<html>
    <head>
        <title>CSC648 - Team 07</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type ="text/css" href="site.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h1 {
                box-shadow: 10px 10px 5px #9fa107;
                text-shadow: 2px 2px 4px #aca912;
            }
        </style>
    </head>
    <body>
        <h1 id="fadein" class="text-center" style="color:#4e1980; font: size 300%">
            <br>
            Software Engineering Class SFSU<br>
            Spring 2017<br>
            Section 07<br>
            Team 07<br>
            <br>
            <br>
            <br>
        </h1>
        
        <div class="container">
            <div class="row">
                <div id="fadein" class="col-md-6">
                    <h2 style="font-size: 150%; color: black">About US Team</h2>
                    <div class="card">
                        <div class="card-body" style="font-size: 150%; text-align:left; color: black">
                            <a href="ChrisInfo">Chris Jol</a><br>
                            <a href="https://www.kevinvm.com">Kevin Venegas</a><br>
                            <a href="DeepInfo">Deep Bhuller</a><br>
                            <a href="RodericInfo">Roderic Kong</a><br>
                        </div>
                    </div>
                </div>
                <div id="fadein" class="col-md-6">
                    <h3 style="font-size: 150%; color: black">About German Team</h3>
                    <div class="card">
                        <div class="card-body" style="font-size: 150%; text-align:left; color: black">
                            <a href="">German Student 1</a><br>
                            <a href="">German Student 2</a><br>
                            <a href="">German Student 3</a><br>
                            <a href="">German Student 4</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
