/****************************************************************************
This css file is used only for styling of the most basic elements of the
website. It may only include single element selecotrs, descendant selectors,
child selectors, or pseudo-classes.
*****************************************************************************/

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    color: var(--body-text-color);
    font-family: var(--main-body-font);
    margin: 0;
    padding: 5px 0;
}

a {
    font-family: var(--main-body-font);
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

h1 {
    justify-self: center;
    font-family: var(--main-header-font);
    font-size: 40px;
    margin-bottom: 5px;
}

h2 {
    font-family: var(--main-header-font);
    font-size: 24px;
    margin: 10px 0;
}

h3{
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-family: var(--main-body-font);
    color: var(--body-text-color);
}

label{
    color: var(--body-text-color);
    font-family: var(--main-body-font);
}

img{
    max-width: 100%;
    max-height: 100%
}