/****************************************************************************
This css file is used only for styling basic layout elemnts. It divides the page 
into sections and holds modules together.
*****************************************************************************/

.layout-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 200px;
    padding: 0 20px;

    background-color: var(--main-color);
    color: white;
}

.layout-body,
.layout-body--padded{
    width: 100%;
    max-width: 1200px;
    align-self: center;
    padding: 5px;
}

.layout-body--padded{
    padding: 30px;
}