/****************************************************************************
This css file is used only for styling basic layout elemnts. It divides the page 
into sections and holds modules together.
*****************************************************************************/

#app{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-header{
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    min-height: 100px;
    max-height: 115px;
    padding-top: 5px;

    color: white;
    background: URL("/images/Banner-wide.png");
    background-size: cover;
}

.layout-body{
    flex-shrink: 0;
    width: 100%;
    max-width: 1295px;
    align-self: center;
    padding: 5px 35px;
}

@media only screen and (max-width: 1330px){
    .layout-body{
        max-width: 1115px;
    }
}

@media only screen and (max-width: 1125px){
    .layout-body{
        max-width: 910px;
    }
}

@media only screen and (max-width: 910px){
    .layout-header{
        max-height: 159px;
    }
    
    .layout-body{
        max-width: 800px;
    }
}

@media only screen and (max-width: 800px){
    .layout-body{
        max-width: 695px;
    }
}

@media only screen and (max-width: 695px){
    .layout-header{
        max-height: 150px;
        /* overflow: hidden; */
    }
    
    .layout-body{
        max-width: 480px;
    }
}

@media only screen and (max-width: 480px){
    .layout-body{
        max-width: 315px;
    }
}