/****************************************************************************
This is for reusable, modular parts of the design. Similar to objects in
OOP. This is one of the more important files and will hold styling for many
aspects of the website
*****************************************************************************/

/*---------------------------------------------TOPPER-(title | login/signup)--*/
.topper{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
        'title form  links'
    ;
}

.topper__title{
    grid-area: title;

    padding: 0;
    font-size: 35px;
    color: white;
}

.topper__links{
    grid-area: links;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}

.topper__links--login,
.topper__links--signup,
.topper__links--logout {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 7px;
    height: 100%;
    text-align: center;

    border-radius: var(--border-radius);
    cursor: pointer;
}
.topper__links--login{
    border: 2px solid white;
    color: white;
}
.topper__links--signup,
.topper__links--logout{
    margin-left:5px;
    color: white;
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

.nav--burger{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 9px;
    margin-left:5px;
    height: 100%;
    width: 45px;

    background-color: var(--yellow);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.burger-line{
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    margin: 2px 0;
}

.burger-menu{
    display: none;

    position: absolute;
    top: 55;
    right: 0;

    display: flex;
    flex-direction: column;

    background-color: var(--yellow);
    border-radius: 15px;
    border: 3px solid white;
    overflow: hidden;
}

.burger-auth--links{
    display: none;
    flex-direction: column;
}

.burger-menu a{
    padding: 15px;
    transition: .1s
}
.burger-menu a:hover{
    background-color: white;
    color: var(--yellow);
}

.topper__form{
    grid-area: form;
    display: grid;
    grid-template-columns: max-content auto 46px;
    grid-template-areas:
        "select input button"
    ;
    align-items: center;

    width: 100%;
    max-width: 500px;
    margin: 0;

    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 50px;

    z-index: 100;
}

.topper__form--input{
    grid-area: input;
    width: 100%;
    max-width: 450px;
    height: 30px;
    padding: 15px 5px;

    outline: none;
    border: none;
    background-color: transparent;

    font-size: 15px;
}

.topper__form--button-go,
.topper__form--button-select{
    justify-self: end;
    grid-area: button;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 5px;
    
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.topper__form--button-go{
    min-width: 33px;
    max-width: 33px;
    min-height: 33px;
    max-height: 33px;
    padding: 7px;

    background-color: var(--yellow);
}
.topper__form--button-go img {
    min-width: 17px;
    max-width: 17px;
    min-height: 17px;
    max-height: 17px;
}

.topper__form--button-select{
    grid-area: select;
    justify-self: start;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 7px;
    padding: 6px 9px;
    background-color: var(--yellow);
    color: white;
}
.topper__form--button-select img{
    min-width: 10px;
    max-width: 10px;
    min-height: 7px;
    max-height: 7px;
    margin-left: 5px;
    margin-top: 2px;
}

.selected__category{
    color: white;
    padding: 0;
    height: 15px;
}

.topper__form--categories{
    display: none;

    position: absolute;
    top: 40;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 200px;
    padding: 0;
    background-color: var(--yellow);
    border-radius: 15px;
    border: 3px solid white;

    text-align: center;
    overflow: hidden;
}

.category{
    margin: 0;
    padding: 15px;
    transition: .1s;
}

.category:hover{
    background-color: white;
    color: var(--yellow);
}

/*-------------------------------------------------------------POP_CATEGORIES--*/
.pop__category-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 7px;
}

.pop__category{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    background-color: var(--light-grey);
    padding: 15px;

    color: var(--secondary-color);
    font-family: var(--main-body-font);

    cursor: pointer;
    transition: .1s;
}
.pop__category:hover{
    background-color: var(--yellow);
    color: white;
}

/*--------------------------------------------------------------------SLIDER--*/
.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.slider::-webkit-scrollbar { height: 0 !important}

.slider__post{
    flex-shrink: 0;

    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    grid-template-areas: 
        "image"
        "content"
        "button"
    ;
    align-items: start;

    scroll-snap-align: start;
    overflow: hidden;

    width: 235px;
    height: 300px;
    margin: 5px 10px 5px 0;
    padding: 5px;

    background-color: var(--light-grey);
    border-radius: var(--border-radius);
}

.slider__post--img{
    grid-area: image;

    width: 100%;
    min-height: 130px;
    max-height: 130px;
    padding: 5px;
    background-size: cover;
    border-radius: var(--border-radius);
}

.slider__post--title{
    color: black;
    margin-bottom: 3px;
}

.slider__post--body{
    grid-area: content;
    padding: 5px;
    color: var(--secondary-color);
}

.slider__post--button{
    grid-area: button;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 34px;
    padding: 5px;

    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--main-body-font);
    cursor: pointer;

    transition: .1s;
}
.slider__post--button:hover{
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: white;
}

/*-------------------------------------------------------------FORM ELEMENTS--*/
.form{
    margin-bottom: 40px;
    background-color: rgb(240, 240, 240);
}

.form__devider,
.form__devider--submit{
    border-bottom: 3px solid white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form__devider--submit{
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    padding: 20px 0;
}

.form__input,
.form__input--price{
    width: 100%;
    padding: 10px;

    border: none;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid white;
    font-size: 13px;
    color: var(--secondary-color);
}
.form__input:focus{
    border: 1px solid var(--yellow);
    border-radius: var(--border-radius);
}

.form__input--price{
    max-width: 150px;
}

.form__textarea{
    width: 100%;
    height: 200px;
    padding: 10px;

    border: none;
    border-radius: var(--border-radius);
    outline: none;

    font-size: 15px;
    resize: none;

    color: var(--secondary-color);
}
.form__textarea:focus{
    border: 1px solid var(--yellow);
    border-radius: var(--border-radius);
}

.message__textarea{
    width: 100%;
    height: 80px;
    padding: 10px;

    border: 1px solid black;
    border-radius: var(--border-radius);
    outline: none;

    font-size: 15px;
    resize: none;
}

.form__select{
    text-align: left;
    padding: 5px;
    height: 35px;
    max-width: 150px;

    border-radius: var(--border-radius);
    border: none;
    outline: none;

    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    
    background-image: url('../images/icons/select-arrow.png');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 95% center;

    color: var(--secondary-color);

}
.form__select:focus{
    border: 1px solid var(--yellow);
}

.form__submit--cancel,
.form__submit--post{
    height: 40px;
    width: 150px;
    margin-left: 20px;

    font-size: 14px;

    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: rgb(240, 240, 240);
    color: var(--secondary-color);

    cursor: pointer;
}
.form__submit--post{
    background-color: var(--yellow);
    color: white;
}

.form__label{
    font-family: var(--main-body-font);
    font-size: 24px;
    text-align: left;
}

.form__descriptor{
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.form__image--select-container{
    display: flex;
    margin-top: 20px;
}

.form__image-select{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin:0 40px 0 0;
    width: 300px;
    height: 300px;
    border: 1px dashed var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: white;

    cursor: pointer;
    transition: .1s;
}

.form__image--container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}

.form__image,
.form__image--default{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: white;
}

.form__image--default{
    padding: 30px;
    border: 1px dashed var(--secondary-color);
    background-color: white;
}

.form__image--input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;

    padding: 7px 15px;
    margin-top: 10px;

    color: var(--secondary-color);

    cursor: pointer;
}

.form__image--text{
    text-align: center;
    color: var(--secondary-color);
}

/* These styles are specific to only one element, will try to find a better solution later */
.signin{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.signin button{
    align-self: flex-start;
    margin-top: 10px;
}
.signin label {
    margin-top: 10px;
    margin-bottom: 3px;
}

/*------------------------------------------------------------------DASHBOARD--*/
.dashboard__buttons{
    display: flex;
}

.dashboard__buttons--posts,
.dashboard__buttons--messages{
    padding: 7px 10px;
    margin: 0 10px 5px 0;
    background-color: var(--light-grey);
    color: var(--secondary-color);
    border-radius: var(--border-radius);

    font-size: 18px;

    cursor: pointer;
}

.selected{
    background-color: var(--yellow);
    color: white;
}

.dashboard__post,
.dashboard__post--descriptor{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

    padding: 5px 15px;
    margin-bottom: 5px;

    background-color: var(--light-grey);
}
.dashboard__post a{
    display: flex;
    align-items: center;

    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.dashboard__post--descriptor{
    background-color: transparent;
    font-family: var(--main-header-font);
    color: black;
    font-size: 18px;
    background-color: var(--yellow);
    margin-top: 5px;
}
.dashboard__post--descriptor p {
    color: white;
}

/*-------------------------------------------------------------------RESULTS--*/
.results{
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.results__post{
    display: grid;
    grid-template-columns: 175px 1fr 100px;
    grid-template-areas: "image body data";
    grid-column-gap: 10px;;

    border-top: 1px solid rgb(219, 219, 219);
    height: 150px;
    padding: 20px 10px;

    transition: .1s;
    cursor: pointer;
}
.results__post:hover{
    background-color: rgb(245, 245, 245);
}

.results__post--img{
    grid-area: image;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.results__post--body{
    grid-area: body;
    overflow: hidden;
}
.results__post--data{
    grid-area: data;
    justify-self: end;
    align-self: end;

    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: right;
}
.results__post--title{
    font-size: 21px;
    margin: 0;
}
.results__post--category{
    color: var(--secondary-color);
    font-size: 14px;
    padding: 0;
    margin-top: 3px;
}
.results__post--comment{
    margin-top: 10px;
}
.results__post--price{
    font-family: var(--main-header-font);
    font-size: 18px;
}

.results__post--button{
    display: flex;
    justify-content: flex-end;
    width: 120px;
    height: 30px;
    color: var(--secondary-color);
    margin: 0;
    margin-top: 5px;
}

 /*---------------------------------------------DEVELOPER CARDS-(about pages)--*/
.dev{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.dev__card {
    padding: 30px;
    width: 215px;
}

.dev__card--img {
    width: 100%;
    border-radius: 50%;
}

.dev__card--title {
    font-size: 21px;
    text-align: center;
}

.dev__card--body{
    margin-top: 5px;
    text-align: center;
}


hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #E3E3E3; /* old IE */
    background-color:#E3E3E3; /* Modern Browsers */
}

#outer {
    position: relative;  
    height: 300px;
    width: 520px;
    display: inline-flex;
    justify-content: center;
    align-items: center;  
  }
  .inner {
    border: 1px solid red;
  }
  .inner:nth-child(2) {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
  }
  /* this is for styling purpose only, and produce a blue border */
#outer::after {
    content: '';
    position: absolute;  
    left: 0; top: 0;
    height: 100%;
    width: 200%;
    border: 1px solid blue;
  }