/****************************************************************************
This is for reusable, modular parts of the design. Similar to objects in
OOP. This is one of the more important files and will hold styling for many
aspects of the website
*****************************************************************************/

.disclaimer{
    text-align: center;
    margin-top: 5px;
    font-family: var(--main-body-font);
}

/*---------------------------------------------TOPPER-(title | login/signup)--*/
.topper{
    display: grid;
    grid-template-columns: 275px 1fr 100px;
    grid-template-areas:
        'title form links'
        'title nav  nav'
    ;
    padding-top: 5px;
}

.topper__title{
    grid-area: title;

    margin: 0 20px 0 0;
    padding: 0;
    font-size: 30px;
    color: white;
}

.topper__form{
    grid-area: form;
    display: grid;
    grid-template-columns: 40px 1fr 46px;
    grid-template-areas:
        "select input button"
    ;
    align-items: center;

    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
    padding: 5px;

    background-color: white;
    border: 1px solid var(--grey);

    z-index: 100;
}

.topper__form--select{
    grid-area: 2 / 1 / 2 / 4;
    display: flex;
    flex-wrap: wrap;
    color: black;

    padding-top: 10px;
    margin: 10px 0 5px 0;

    border-top: 1px solid var(--grey);
}

.topper__form--select-radio{
    opacity: 0;
    width: 0;
    margin: 0;
    position: fixed;
}

.topper__form--select-radio:checked + label {
    background-color: var(--grey);
    color: white;
}

.topper__form--select-label{
    display: inline-block;

    padding: 5px 10px;
    margin: 5px;

    border-radius: 5px;
    font-size: 16px;

    cursor: pointer;
    font-family: var(--main-body-font);
}

.topper__form--input{
    grid-area: input;
    width: 100%;
    max-width: 450px;
    height: 30px;
    padding: 15px;

    outline: none;
    border: none;
    background-color: transparent;

    font-size: 15px;
}

.topper__form--button-go,
.topper__form--button-select{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 33px;
    max-width: 33px;
    min-height: 33px;
    max-height: 33px;
    padding: 7px;

    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.topper__form--button-go{
    justify-self: end;
    grid-area: button;
    background-color: var(--yellow);
}
.topper__form--button-select{
    grid-area: select;
    background-color: var(--grey);
}

.topper__img{
    grid-area: links;
    justify-self: end;
    cursor: pointer;
    width: 40px;
}

.topper__links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.topper__links--login,
.topper__links--signup {
    cursor: pointer;
    color: white;
}

/*----------------------------------------------------------------NAVIGATION--*/
.nav{
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
}

.nav__item{
    padding: 5px 0;
    margin-right: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
}

.nav--burger{
    display: none;
    flex-direction: column;
    grid-area: nav;
    justify-self: center;
    cursor: pointer;
    
    margin-bottom: 5px;
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    padding: 5px;
}

.burger-line{
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    margin: 2px 0;
}

/*--------------------------------------------------------------------SLIDER--*/
.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.slider::-webkit-scrollbar { height: 0 !important}

.slider__title{
    border-bottom: 1px solid black;
}

.slider__post{
    flex-shrink: 0;

    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    grid-template-areas: 
        "image"
        "content"
        "button"
    ;
    align-items: start;

    scroll-snap-align: start;
    overflow: hidden;

    width: 235px;
    height: 300px;
    /* max-height: 300px; */
    margin: 5px;
    padding: 5px;

    background-color: rgb(236, 236, 236);
    border-radius: var(--border-radius);
}

.slider__post--img{
    grid-area: image;

    width: 100%;
    min-height: 130px;
    max-height: 130px;
    padding: 5px;
    background-size: cover;
    border-radius: var(--border-radius);
}

.slider__post--body{
    grid-area: content;
    padding: 5px;
}

.slider__post--button{
    grid-area: button;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 30px;
    padding: 5px;
    /* margin-bottom: 5px; */

    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    /* background-color: rgb(245, 210, 121); */
    color: var(--secondary-color);
    font-family: var(--main-body-font);
    cursor: pointer;
}

/*-------------------------------------------------------------FORM ELEMENTS--*/
.form{
    text-align: center;
    margin-bottom: 0;;
}

input[type='file'] {
    display: none;
}

.form__image-input {
    background-color: none;
    border-radius: var(--border-radius);
    outline: none;
    text-align: right;
}

.form__input,
.form__input--border{
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding: 5px;

    border: none;
    outline: none;
    border-radius: var(--border-radius);
}

.form__input--border{
    border: 1px solid black;
    height: 30px;
}

.form__textarea{
    width: 100%;
    height: 200px;
    padding: 5px;

    border: 1px solid black;
    border-radius: var(--border-radius);
    outline: none;

    resize: none;
}

.form__select{
    text-align: left;
    padding: 5px;
    height: 30px;
    width: 100%;

    border-radius: var(--border-radius);
    border: 1px solid black;

    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.form__button,
.form__button--border{
    height: 40px;
    min-width: 35px;
    border: none;
    outline: none;

    background-color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.form__button--border{
    border: 1px solid black;
    height: 30px;
    min-width: 70px;
    justify-self: end;
    align-self: center;
}

.form__label{
    font-family: var(--main-body-font);
    text-align: left;
}

/* These styles are specific to only one element, will try to find a better solution later */
.newpost {
    margin-top: 30px;
}
.signin{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.signin button{
    align-self: flex-start;
    margin-top: 10px;
}
.signin label {
    margin-top: 10px;
    margin-bottom: 3px;
}

/*-------------------------------------------------------------------RESULTS--*/
.results{
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.results__post{
    display: grid;
    grid-template-columns: 175px 1fr 100px;
    grid-template-areas: "image body data";
    grid-column-gap: 10px;;

    border-top: 1px solid rgb(219, 219, 219);
    height: 150px;
    /* margin: 3px 0; */
    padding: 20px 10px;

    transition: .1s;
    cursor: pointer;
}
.results__post:hover{
    background-color: rgb(245, 245, 245);
}

.results__post--img{
    grid-area: image;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.results__post--body{
    grid-area: body;
    overflow: hidden;
}
.results__post--data{
    grid-area: data;
    justify-self: end;
    align-self: end;

    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: right;
}
.results__post--title{
    font-size: 25px;
    margin: 0;
}
.results__post--category{
    color: var(--secondary-color);
    font-size: 14px;
    padding: 0;
    margin-top: 3px;
}
.results__post--comment{
    margin-top: 10px;
}
.results__post--price{
    font-family: var(--main-header-font);
    font-size: 18px;
}

.results__post--button{
    display: flex;
    justify-content: flex-end;
    width: 120px;
    height: 30px;
    color: var(--secondary-color);
    margin: 0;
    margin-top: 5px;
}

 /*---------------------------------------------DEVELOPER CARDS-(about pages)--*/
.dev{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.dev__card {
    padding: 30px;
    width: 215px;
}

.dev__card--img {
    width: 100%;
}

.dev__card--title {
    font-size: 21px;
    text-align: center;
}

.dev__card--body{
    margin-top: 5px;
    text-align: center;
}