/****************************************************************************
This is for reusable, modular parts of the design. Similar to objects in
OOP. This is one of the more important files and will hold styling for many
aspects of the website
*****************************************************************************/

/*---------------------------------------------TOPPER-(title | login/signup)--*/
.topper{
    display: flex;
    justify-content: space-between;
}

.topper__title{
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.topper__links{
    display: flex;
}

.topper__links--login,
.topper__links--signup {
    padding: 0 0 0 10px;
    cursor: pointer;
}

/*-------------------------------------------------------------FORM ELEMENTS--*/
.form{
    text-align: center;
}

.form__input,
.form__input--border{
    width: 350px;
    height: 40px;
    padding: 5px;

    border: none;
    outline: none;
    border-radius: 5px;
}

.form__input--border{
    border: 1px solid black;
    height: 30px;
    width: 100%;
    max-width: 450px;
}

.form__textarea{
    width: 100%;
    height: 200px;
    padding: 5px;

    border: 1px solid black;
    border-radius: 5px;
    outline: none;

    resize: none;
}

.form__select{
    text-align: left;
}

.form__button,
.form__button--border{
    height: 40px;
    max-width: 80px;
    border: none;
    outline: none;

    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form__button--border{
    border: 1px solid black;
    height: 30px;
    place-self: end;
    align-self: center;
}

.form__label{
    font-family: var(--main-body-font);
    text-align: left;
}


/*----------------------------------------------------------------NAVIGATION--*/
.nav{
    display: flex;
    justify-content: space-between;
}

.nav__item{
    padding: 5px 0;
    height: 30px;
    cursor: pointer;
}

 /*---------------------------------------------DEVELOPER CARDS-(about pages)--*/
.dev{
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-row-gap: 10px;
    justify-content: space-between;
}

.dev__card {
    padding: 30px;
    
    background-color: var(--main-color);
    border-radius: 5px;
}

.dev__card__img {
    width: 150px;
}

.dev__card__body {
    font-size: 20px;
    color: white;
}

/*---------------------------------------------------DESCRIPTION-(about page--*/
.description {
    border-top: 2px solid var(--body-text-color);
    margin-top: 20px;
}

.description__body {
    text-align: left;
    color: var(--body-text-color);
}