/****************************************************************************
Styles for modules in different circumstances. Ex: how a module or layout
looks on screens that are smaller or larger, or how a module might look in 
different views, color variations, etc.
*****************************************************************************/

@media only screen and (max-width: 600px) {
    /*-------------------------------------------------------------FORM ELEMENTS--*/
    .form__input,
    .form__input--border{
        max-width: 200px;
    }

    /*----------------------------------------------------------------NAVIGATION--*/
    .nav{
        flex-direction: column;
    }
    
    .nav__item{
        border-radius: 0;
        transition: 0s;
        align-self: center;
    }

    .nav__item:hover{
        background-color: transparent;
        color: white;
    }
}