/****************************************************************************
Styles for modules in different circumstances. Ex: how a module or layout
looks on screens that are smaller or larger, or how a module might look in 
different views, color variations, etc.
*****************************************************************************/

@media only screen and (max-width: 600px) {
    /*---------------------------------------------TOPPER-(title | login/signup)--*/
    .topper__img{
        justify-self: start;
    }

    /*-------------------------------------------------------------FORM ELEMENTS--*/
    .form__input,
    .form__input--border{
        max-width: 200px;
    }

    .form__button--border{
        justify-self: left;
    }

    /*----------------------------------------------------------------NAVIGATION--*/
    .nav{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1156px) {
    .topper__title{
        font-size: 25px;
    }
    
    /*-------------------------------------------------------------------CAROUSEL--*/
    .carousel{

    }
    
    .carousel__title{

    }
    
    .carousel__button-left,
    .carousel__button-right{

    }
    .carousel__button-left{

    }
    .carousel__button-right{

    }
    
    .carousel__post-container{
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }
    
    .carousel__post{

    }
    
    .carousel__post-body{

    }
    
    .carousel__post-title{

    }

}