/****************************************************************************
Styles for modules in different circumstances. Ex: how a module or layout
looks on screens that are smaller or larger, or how a module might look in 
different views, color variations, etc.
*****************************************************************************/

@media only screen and (max-width: 1330px){
    /*--------------------------------------------------------------------SLIDER--*/
    .slider__post{
        width: 200px;
    }
}

@media only screen and (max-width: 1125px){
    .topper__form{
        max-width: 400px;
    }
    
}

@media only screen and (max-width: 910px){
    /*---------------------------------------------------------------------TOPPER--*/
    .topper{
        grid-template-columns: 1fr 100px;
        grid-template-areas:
            'title links'
            'form form'
            'nav nav'
        ;
        padding-top: 5px;
    }

    .topper__links{
        align-items: flex-end;
    }

    .topper__form{
        margin-top: 10px;
    }

    /*----------------------------------------------------------------NAVIGATION--*/
    .nav__item{
        text-align: center;
    }

    /*--------------------------------------------------------------------SLIDER--*/
    .slider__post{
        width: 235px;
    }
}

@media only screen and (max-width: 800px){
    /*--------------------------------------------------------------------SLIDER--*/
    .slider__post{
        width: 200px;
    }
}

@media only screen and (max-width: 695px){
    /*---------------------------------------------------------------------TOPPER--*/
    .topper{
        grid-template-columns: 1fr 80px;
    }
    
    .topper__title{
        font-size: 19px;
    }

    .topper__form{
        max-width: 100%;
    }
    
    .topper__img{
        justify-self: start;
    }

    .topper__links{
        font-size: 13px;
    }

    /*-------------------------------------------------------------FORM ELEMENTS--*/
    .form__input,
    .form__input--border{
        max-width: 200px;
    }

    .form__button--border{
        justify-self: left;
    }

    /*----------------------------------------------------------------NAVIGATION--*/
    .nav{
        display: none;
        flex-direction: column;
    }

    .nav--burger{
        display: flex;
    }
}

@media only screen and (max-width: 480px){
    .slider__post{
        width: 235px;
    }
}
