/****************************************************************************
Holds all main variables for easy configuration
*****************************************************************************/

:root {
    --main-header-font: 'Arial Rounded MT Bold';
    --main-body-font: 'helvetica';

    --main-color: rgba(209, 0, 0, 0.63);
    --secondary-color: rgb(110, 110, 110);
    --body-text-color: #4d4d4d;
    --purple: rgb(65, 0, 137);
    --yellow: rgb(254, 203, 69);

    --border-radius: 5px;
}