<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/global.css" rel="stylesheet">
    </head>
    <body>
        <h1>ABOUT THE DEVS</h1>
        <div class="dev layout__body">
            <div class = "dev__card">
                <img class = "dev__card__img" src='/img/default_user.png'>
                <p class = "dev__card__body">Roderic Kong</p>
            </div>
            <div class = "dev__card">
                <img class = "dev__card__img" src='/img/default_user.png'>
                <p class = "dev__card__body">Chris Jol</p>
            </div>
            <div class = "dev__card">
                <img class = "dev__card__img" src='/img/default_user.png'>
                <p class = "dev__card__body">Kevin Venegas</p>
            </div>
            <div class = "dev__card">
                <img class = "dev__card__img" src='/img/default_user.png'>
                <p class = "dev__card__body">Deepinder</p>
            </div>
        </div>
        <div class = "description layout__body">
            <p class= "description__body">
                Dorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nibh ligula, consequat et erat at, lobortis laoreet odio. Quisque imperdiet turpis eu eleifend congue. Quisque congue, odio sit amet maximus pellentesque, turpis nisl semper justo, eu pulvinar dolor urna eu justo. Nullam quis pulvinar dui, a molestie dolor. Pellentesque pulvinar congue posuere. Nam sit amet ullamcorper felis, sit amet vulputate augue. Suspendisse orci ligula, varius at urna in, condimentum rhoncus justo. Maecenas fermentum purus cursus vestibulum mattis.
            </p>
            <p class = "description__body">
                Etiam placerat nulla libero, vitae varius dolor pellentesque et. Curabitur volutpat vel ex id vestibulum. Sed condimentum arcu sit amet aliquet posuere. Vestibulum metus diam, gravida id nunc sed, rutrum venenatis justo. Nam eros erat, tristique a rhoncus vel, malesuada ut neque. Vestibulum at enim sed arcu porta pulvinar. Suspendisse diam justo, eleifend in tellus non, hendrerit mollis ipsum. Mauris fringilla sit amet ante id lobortis. Vestibulum ultricies enim sed congue pellentesque. Donec vel enim arcu. Vivamus varius, magna vel posuere cursus, leo sem venenatis mi, nec porttitor velit magna a mauris. Nunc aliquet arcu a finibus feugiat. Praesent quis est nec tortor imperdiet sagittis quis et enim. In aliquet quam vel cursus efficitur. Maecenas dolor dolor, varius eu diam non, consectetur porta elit. Curabitur pharetra urna sit amet nibh hendrerit ultrices.
            </p>
        </div>
    </body>
</html>
