extends header

block content
    #app
        .layout-form--auth
            h1 Signup
            form(class="form signin" v-if="isRegistered === false")
                .form__devider
                    label(for="name" class="form__label") Name
                    input(v-model='name' type="input" class="title form__input")

                    label(for="email" class="form__label") Email
                    input(v-model='email' type="input" class="title form__input")

                    label(for="password" class="form__label") Password
                    input(v-model='password' type="password" class="title form__input")

                    label(for="confirm_password" class="form__label") Confirm Password
                    input(v-model='confirm_password' type="password" class="title form__input")

                .form__devider--submit
                    a(href="/index" )
                        button(type="button" class="form__submit--cancel") Cancel
                    button(v-on:click.prevent='sendData' type="submit" class="form__submit--post") Signup

                div(class="form__label" style="color: red;") {{message}}
                //- button(v-on:click.prevent='sendData' type="submit" class="form__submit--post") Submit

            div(v-if="isRegistered === true") Registration successfull. 
                a(href="login" style="color: blue;") Click here to login

    script(src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="javascripts/vue/registerPage.js")