<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
​
<body>
    <div class="container-fluid bg-1 text-center">
        <h1>Deep Bhuller</h1>
        <img src="deep-main.JPG" class="img-circle img-responsive" style="display: inline" alt="Deep Bhuller">
        <h3>Senior at SFSU, in CSC 648 - Software Engineering, Team 07</h3>
    </div>
​
    <div class="container-fluid bg-2 text-center">
        <h1>GitHub Master</h1>
        <h3>Front-End & Back-End</h3>
    </div>
​
    <div class="container-fluid bg-3 text-center">
        <h1>Skills</h1>
        <h3>JavaScript, Node.js, HTML & CSS, AWS, Express.js</h3>
    </div>
​
    <footer class="footer container-fluid bg-4 text-center">
        <p>About Me Page Made By Deepinder Bhuller <a href="https://github.com/dbhuller">[dbhuller]</a></p>
    </footer>
</body>
​
</html>