<!-- Assigned to : ImraN -->
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href='../../../stylesheets/global.css'>
</head>

<div id="app">

    <div class="layout-header">
        <div class="layout-body">
            <div class="topper">
                <a href="index">
                    <h1 class="topper__title">State Exchange</h1>
                </a>
                <form class="topper__form" action="search" v-bind:style="{ borderRadius: this.radius + 'px'}">
                    <div class="topper__form--button-select" v-on:click="changeSelectState">
                        <p class="selected__category">{{selectedCategory}}</p>
                        <img src="images/icons/arrow-down.png">
                        <div class="topper__form--categories" v-if="select">
                            <div class="category" v-on:click="selected">All</div>
                            <div class="category" v-for="category in categories" v-on:click="selected">{{category}}
                            </div>
                        </div>
                    </div>
                    <input type="text" placeholder="Search" class="topper__form--input" v-model="query">
                    <button type="submit" class="topper__form--button-go"><img src="images/icons/arrow.png"></button>
                </form>
                <div class="topper__links">
                    <a href="login" class="topper__links--login">Login</a>
                    <a href="register" class="topper__links--signup">Signup</a>
                    <div class="nav--burger" v-on:click="changeMenuState">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-menu" v-if="menu">
                            <a href="/newpost">New Post</a>
                            <a href="/dashboard">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-body">




        <h1>#{{post.id}} {{post.title}} - ${{post.price}}</h1>
        <h4>Posted By {{post.author}} on {{post.date_posted}}</h4>
        <h2>Send Message</h2>

        <textarea class="message__textarea" placeholder="Enter Message" v-model="new_message"></textarea>
        <div class="form__submit">
            <button v-on:click.prevent='sendData' type="submit" class="form__submit--post">Send</button>
        </div>

        <br />
        <h2>Previous Messages</h2>
        <div v-for="message in messages">
            <b>{{message.from}} &mdash; {{message.date}}</b>
            <p>{{message.message}}</p>
            <hr />
        </div>

    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/SearchResults.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {

            post: {
                photo: '',
                title: '',
                price: '',
                date_posted: '',
                author: '',
                select: false,
                menu: false,
                categories: [],
                selectedCategory: "All"
            },

            messages: [],
            new_message: ''
        },
        methods: {

            sendData: function () {

                if (this.new_message == "") return;

                var url = window.location.href;
                var split = url.split('/');

                const headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem("__token")
                }


                //'http://ec2-18-224-39-11.us-east-2.compute.amazonaws.com:3001/testmysql'
                axios.post('/messaging/store', {

                            MessagesIndexID: split[split.length - 1],
                            Message: this.new_message
                        }, {
                            headers: headers
                        }

                    )
                    .then(function (response) {

                        location.reload();
                    })
                    .catch(function (error) {

                    })
                    .finally(function () {
                        // always executed
                    });

            },
            changeMenuState: function () {
                this.menu = !this.menu;
            },
            changeSelectState: function () {
                this.select = !this.select;
            },
            selected: function (event) {
                this.selectedCategory = event.target.innerText;
            }
        },
        watch: {
            query: function (newQuery, oldQuery) {
                sessionStorage.setItem('query', newQuery);
            }
        },
        mounted() {
            const sessionQuery = sessionStorage.getItem('query');
            if (sessionQuery != null) {
                this.query = sessionQuery;
            }

            const headers = {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem("__token")
            }
            var url = window.location.href;
            var split = url.split('/');

            //######### fetch post details
            axios.get('http://127.0.0.1:3000/post/' + split[split.length - 2])
                .then(function (response) {

                    console.log(response.data[0]);

                    app.post.id = response.data[0]['ID'];
                    //this.post.photo = response.data[0]['photo'];
                    app.post.title = response.data[0]['Title'];
                    app.post.price = response.data[0]['Price'];
                    app.post.date_posted = response.data[0]['date_posted'].replace("T", " ").replace("Z",
                        "").replace(".000", "");
                    app.post.author = response.data[0]['name'];
                })
                .catch(function (error) {

                })
                .finally(function () {
                    // always executed
                });

            //######### fetch previous messages
            axios.post('http://127.0.0.1:3000/messaging/index', {
                    MessagesIndexID: split[split.length - 1]
                }, {
                    headers: headers
                })
                .then(function (response) {

                    for (looper = 0; looper < response.data.length; looper++) {

                        var msg = {};
                        msg.from = response.data[looper].name;
                        msg.message = response.data[looper].Message;
                        msg.date = response.data[looper].Timestamp.replace("T", " ").replace("Z", "")
                            .replace(".000", "");
                        app.messages.push(msg);
                    }

                })
                .catch(function (error) {

                })
                .finally(function () {
                    // always executed
                });

            //get categories
            axios.post('/categories')
                .then(res => {
                    res.data.map(category => {
                        this.categories.push(category.Categories)
                    })
                })
                .catch(err => console.log(err))

        }
    })
</script>

</html>