<html>
    <head>
        <title>State Exchange</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='stylesheets/global.css'>
    </head>
    <div class="layout-header">
        <div class="layout-body grid">
            <a href="index" class="grid__col--3"><h1 class="topper__title">State Exchange</h1></a>
            <form class="form grid__col--7">
                <input type="text" placeholder="Search" class="form__input">
                <button type="submit" class="form__button">Search</button>
            </form>
            <img src="images/user.png" class="topper__img grid__col--2">
        </div>
        <div class="nav layout-body">
            <a href="index" class="nav__item">Home</a>
            <a href="about" class="nav__item">About</a>
            <a class="nav__item">For Sale</a>
            <a href="newpost" class="nav__item">New Post</a>
            <a class="nav__item">Dashboard</a>
        </div>
    </div>
    <div class="layout-body">
        <h1>Recent Posts</h1>
        <div class="layout-container grid">
            <div class="post">
                <img src="images/post_img/xbox.jpeg">
                <h2>Xbox 360</h2>
                <p>Barely used Xbox</p>
            </div>
            <div class="post">
                <img src="images/post_img/xbox.jpeg">
                <h2>Xbox 360</h2>
                <p>Barely used Xbox</p>
            </div>
            <div class="post">
                <img src="images/post_img/xbox.jpeg">
                <h2>Xbox 360</h2>
                <p>Barely used Xbox</p>
            </div>
        </div>
    </div>
    <script src="javascripts/SearchResults.js"></script>
</html>