<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width">
    <link href="stylesheets/global.css" rel="stylesheet">
</head>

<div id="app">

    <div class="layout-header">
        <div class="layout-body">
            <div class="topper">
                <a href="index">
                    <h1 class="topper__title">State Exchange</h1>
                </a>
                <form class="topper__form" action="search" v-bind:style="{ borderRadius: this.radius + 'px'}">
                    <div class="topper__form--button-select" v-on:click.prevent="changeSelectState"><img
                            src="/images/icons/arrow-down.png"></div>
                    <input type="text" placeholder="Search" class="topper__form--input" v-model="query">
                    <button type="submit" class="topper__form--button-go"><img src="images/icons/arrow.png"></button>
                    <div class="topper__form--select" v-if="select">
                        <input type="radio" class="topper__form--select-radio" id="electronics">
                        <label for="electronics" class="topper__form--select-label">Electronics</label>

                        <input type="radio" class="topper__form--select-radio" id="textbooks">
                        <label for="textbooks" class="topper__form--select-label">Textbooks</label>

                        <input type="radio" class="topper__form--select-radio" id="other">
                        <label for="other" class="topper__form--select-label">Other</label>
                    </div>
                </form>
                <div class="topper__links">
                    <a href="#" class="topper__links--login">Login</a>
                    <a href="#" class="topper__links--signup">Signup</a>
                </div>
                <div class="nav--burger">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <div class="nav">
                    <a href="index" class="nav__item">Home</a>
                    <a href="about" class="nav__item">About</a>
                    <!-- <a href="#" class="nav__item">For Sale</a> -->
                    <a href="newpost" class="nav__item">New Post</a>
                    <a href="dashboard" class="nav__item">Dashboard</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-body">
        <h1>ABOUT THE DEVS</h1>
        <div class="dev">
            <a href="about/roderic">
                <div class="dev__card">
                    <img class="dev__card--img" src='images/icons/user-black.png'>
                    <h3 class="dev__card--title">Roderic Kong</h3>
                    <p class="dev__card--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat nec quam sed condimentum. Phasellus.</p>
                </div>
            </a>
            <a href="about/chris">
                <div class="dev__card">
                    <img class="dev__card--img" src='images/icons/user-black.png'>
                    <h3 class="dev__card--title">Chris Jol</h3>
                    <p class="dev__card--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat nec quam sed</p>
                </div>
            </a>
            <a href="#">
                <div class="dev__card">
                    <img class="dev__card--img" src='images/icons/user-black.png'>
                    <h3 class="dev__card--title">Kevin Venegas</h3>
                    <p class="dev__card--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat nec quam sed condimentum. Phasellus.</p>
                </div>
            </a>
            <a href="about/deep">
                <div class="dev__card">
                    <img class="dev__card--img" src='images/icons/user-black.png'>
                    <h3 class="dev__card--title">Deep Bhuler</h3>
                    <p class="dev__card--body">Lorem ipsum dolor sit amet</p>
                </div>
            </a>
            <a href="#">
                <div class="dev__card">
                    <img class="dev__card--img" src='images/icons/user-black.png'>
                    <h3 class="dev__card--title">Imran</h3>
                    <p class="dev__card--body">Consectetur adipiscing elit. Mauris feugiat nec quam sed condimentum. Phasellus.</p>
                </div>
            </a>
            <a href="#">
                    <div class="dev__card">
                        <img class="dev__card--img" src='images/icons/user-black.png'>
                        <h3 class="dev__card--title">Abubaker</h3>
                        <p class="dev__card--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat nec quam sed condimentum. Phasellus.</p>
                    </div>
                </a>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            query: "",
            select: false,
            radius: 50
        },
        methods: {
            changeSelectState: function () {
                this.select = !this.select;
                if (this.radius == 50) {
                    this.radius = 20;
                } else {
                    this.radius = 50;
                }
            }
        },
        watch: {
            query: function (newQuery, oldQuery) {
                sessionStorage.setItem('query', newQuery);
            }
        },
        mounted() {
            const sessionQuery = sessionStorage.getItem('query');
            if (sessionQuery != null) {
                this.query = sessionQuery;
            }
        }
    })
</script>

</html>