<html>

<head>
    <title>State Exchange</title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='stylesheets/global.css'>
</head>

<div id="app">

    <div class="layout-header">
        <div class="layout-body">
            <div class="topper">
                <a href="index">
                    <h1 class="topper__title">State Exchange</h1>
                </a>
                <form class="topper__form" action="search" v-bind:style="{ borderRadius: this.radius + 'px'}">
                    <div class="topper__form--button-select" v-on:click.prevent="changeSelectState"><img
                            src="/images/icons/arrow-down.png"></div>
                    <input type="text" placeholder="Search" class="topper__form--input" v-model="query">
                    <button type="submit" class="topper__form--button-go"><img src="images/icons/arrow.png"></button>
                    <div class="topper__form--select" v-if="select">
                        <input type="radio" class="topper__form--select-radio" id="electronics">
                        <label for="electronics" class="topper__form--select-label">Electronics</label>

                        <input type="radio" class="topper__form--select-radio" id="textbooks">
                        <label for="textbooks" class="topper__form--select-label">Textbooks</label>

                        <input type="radio" class="topper__form--select-radio" id="other">
                        <label for="other" class="topper__form--select-label">Other</label>
                    </div>
                </form>
                <div class="topper__links">
                    <a href="login" class="topper__links--login">Login</a>
                    <a href="#" class="topper__links--signup">Signup</a>
                </div>
                <div class="nav--burger">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
                <div class="nav">
                    <a href="index" class="nav__item">Home</a>
                    <a href="about" class="nav__item">About</a>
                    <!-- <a href="#" class="nav__item">For Sale</a> -->
                    <a href="newpost" class="nav__item">New Post</a>
                    <a href="dashboard" class="nav__item">Dashboard</a>
                </div>
            </div>
        </div>
    </div>


    <div class="layout-body">
        <h1>{{ user }}'s Dasbhoard</h1>
        <div>
            <!--TAB BUTTONS-->
            <div>
                <button v-on:click="getPosts">Posts</button>
                <button v-on:click="getMessages">Messages</button>
            </div>
            <div>
                <!--CONTENT-->
                <div v-for="message in messages">
                    {{  }}
                </div>
                <div v-for="post in posts">
                    <h2>{{ post.Name }}</h2>
                    <p>{{ post.Comment }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/SearchResults.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            //
            query: '',
            user: 'testUser',
            posts: [],
            messages: ['Message1', 'Message2', 'Message3'],
            select: false,
            radius: 50
        },
        watch: {
            query: function (newQuery, oldQuery) {
                sessionStorage.setItem('query', newQuery);
            }
        },
        methods: {
            getPosts: function () {
                const userPosts = axios.get(
                        'http://ec2-18-224-39-11.us-east-2.compute.amazonaws.com:3001/testmysql', {
                            posts: this.posts,
                        })
                    .then((res) => {
                        app.posts = res.data;
                    })
            },
            getMessages: function () {
                return messages;
            },
            deletePosts: function () {
                //delete post from users posts
            },
            makePost: function () {
                //create post from users dashboard
            },
            respond: function () {
                //respond to a users message
            },
            changeSelectState: function () {
                this.select = !this.select;
                if (this.radius == 50) {
                    this.radius = 20;
                } else {
                    this.radius = 50;
                }
            }
        },

        mounted() {
            const sessionQuery = sessionStorage.getItem('query');
            if (sessionQuery != null) {
                this.query = sessionQuery;
            }
        }

    })
</script>

</html>