extends layout

block content
    .layout-body
        h1 Recent Posts
        .layout-container.grid
            .post
                img(src="images/post_img/xbox.jpeg")
                h2 Xbox 360
                p Bareley used Xbox

    script(src="javascripts/SearchResults.js")