extends header

block content
    #app
        .layout-form--auth
            h1 Login
            form.form.signin
                .form__devider
                    label(for="email" class="form__label") Email
                    input(v-model='email' type="input" class="title form__input")
                    
                    label(for="password" class="form__label") Password
                    input(v-model='password' type="password" class="title form__input")

                .form__devider--submit
                    a(href="/index" )
                        button(type="button" class="form__submit--cancel") Cancel
                    button(v-on:click.prevent='sendData' type="submit" class="form__submit--post") Login
                    label.form__label {{message}}

    script(src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="javascripts/vue/loginPage.js")