extends header

block content
    #app
        .layout-form
            .message__container
                h1 {{post.title}} ${{post.price}}
                img(v-bind:src="post.image_name")
                p {{post.description}}
                h4 Posted By {{post.author}} on {{post.date_posted}}

            .form
                .form__devider
                    label.form__label Send Message
                    p.form__descriptor Let the seller know what you think of their listings
                    textarea(class="form__textarea" v-model="new_message")

                .form__devider--submit
                    a(href="/index" )
                        button(type="button" class="form__submit--cancel") Cancel
                    button(v-on:click.prevent='sendData' type="submit" class="form__submit--post") Send

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    script(src="javascripts/vue/messaging.js")