<html>

<head>
    <title>New Post!</title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='stylesheets/global.css'>
</head>

<div id="app">

    <div class="layout-header">
        <div class="layout-body">
            <div class="topper">
                <a href="index">
                    <h1 class="topper__title">State Exchange</h1>
                </a>
                <form class="topper__form" action="search" v-bind:style="{ borderRadius: this.radius + 'px'}">
                    <div class="topper__form--button-select" v-on:click="changeSelectState">
                        <p class="selected__category">{{selectedCategory}}</p>
                        <img src="images/icons/arrow-down.png">
                        <div class="topper__form--categories" v-if="select">
                            <div class="category" v-on:click="selected">All</div>
                            <div class="category" v-for="category in categories" v-on:click="selected">{{category}}
                            </div>
                        </div>
                    </div>
                    <input type="text" placeholder="Search" class="topper__form--input" v-model="query">
                    <button type="submit" class="topper__form--button-go"><img src="images/icons/arrow.png"></button>
                </form>
                <div class="topper__links">
                    <a href="login" class="topper__links--login">Login</a>
                    <a href="#" class="topper__links--signup">Signup</a>
                    <div class="nav--burger" v-on:click="changeMenuState">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-menu" v-if="menu">
                            <a href="/newpost">New Post</a>
                            <a href="/dashboard">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-form">
        <h1>Create a New Post</h1>
        <form class="form" enctype="multipart/form-data">
            <div class="form__devider">
                <label for="title" class="form__label">Title</label>
                <p class="form__descriptor">Use words people would search for when looking for your item</p>
                <input v-model='formData.title' id="title" type="input" class="title form__input">
            </div>

            <div class="form__devider">
                <label for="addImage" class="form__label">Add a photo</label>
                <p class="form__descriptor">Improve your buyer’s confidence by including as many as possible.</p>
                <div class="form__image--select-container">
                    <div class="form__image-select">
                        <input type="file" accept="image/*" multiple :disabled="isSaving" id="addImage"
                            @change="filesChange($event.target.files)" class="form__image--input">
                        </input>
                        <p class="form__image--text">Drag your file(s) here to upload<br> or click to browse
                        </p>
                    </div>
                    <div class="form__image--container">
                        <div class="form__image" v-for="path in photoFilePaths">
                            <img v-bind:src="path">
                        </div>
                        <div class="form__image--default">
                            <img src="images/icons/plus-yellow.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__devider">
                <!--TODO: Pull list of categories from database-->
                <label class="form__label">Details</label>
                <p class="form__descriptor">Select a category for your item</p>
                <select v-model='formData.categorySelected' class="form__select">
                    <option v-for='category in categories'>{{ category }}</option>
                </select>
                <p class="form__descriptor">Set an amount that buyers can purchase your item for</p>
                <input v-model='formData.price' type="number" class="form__input">
            </div>

            <div class="form__devider">
                <label for="desc" class="form__label">Description</label>
                <p class="form__descriptor">Tell buyers about unique features, flaws, or why you are selling it!</p>
                <textarea v-model='formData.desc' class="desc form__textarea" form="newpost"></textarea>
            </div>


            <div class="form__devider--submit">
                <button type="button" class="form__submit--cancel">Cancel</button>
                <button v-on:click.prevent='sendData' type="submit" class="form__submit--post">Post</button>
            </div>
        </form>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/SearchResults.js"></script>
<script>
    function checkInp() {
        var x = document.forms["myForm"]["age"].value;

        if (isNaN(x)) {
            alert("Must input numbers");
            return false;
        }
    }

    var app = new Vue({
        el: '#app',
        data: {
            formData: {
                title: '',
                desc: '',
                price: '',
                categorySelected: 'Select Category'
            },
            photoFilePaths: [],
            categories: ['Select Category', 'Electronics', 'Books', 'Furniture', 'Toys'],
            query: '',
            select: false,
            menu: false,
            categories: ['Electronics', 'Textbooks', 'Furniture', 'Movies', 'Video Games', 'Supplies'],
            selectedCategory: "All"
        },
        methods: {

            changeMenuState: function(){
                this.menu = !this.menu;
            },
            changeSelectState: function() {
                this.select = ! this.select;
            },
            selected: function(event){
                this.selectedCategory = event.target.innerText;
            },

            sendData: function () {
                

                axios.post(`/newpost/12`, this.formData)

                    .then(function (response) {
                        console.log(response);
                        if (res.data.status === 'success') {
                            console.log("data was posted successfully")
                        }
                    })
                    .catch(err => {
                        console.log("This error was caught trying to send data: " + err);
                    })
            },
            filesChange(fileList) {
                if (!fileList.length) return;
                const formData = new FormData();

                //create a new form object and append all the files to be uploaded
                for (let i = 0; i < fileList.length; i++) {
                    formData.append(`photo${i}`, fileList[i], fileList[i].name)
                }

                //send form object to server for upload
                axios.post('/newpost', formData)
                    .then(res => {
                        console.log(res.data)
                        this.photoFilePaths = this.photoFilePaths.concat(res.data);
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        watch: {
            //set query variable in sessionStorage when search field onChange event is fired
            query: function (newQuery, oldQuery) {
                sessionStorage.setItem('query', newQuery);
            }
        },
        mounted() {
            //set search bar field to previously typed query if it exists
            const sessionQuery = sessionStorage.getItem('query');
            if (sessionQuery != null) {
                this.query = sessionQuery;
            }
        }
    })

</script>

</html>