<html>

<head>
    <title>New Post!</title>
    <link rel='stylesheet' href='../public/stylesheets/global.css'>
</head>
<div class="layout-header">
    <div class="topper layout-body">
        <h1 class="topper__title">State Exchange</h1>
        <div class="topper__links">
            <p class="topper__links--login">login</p>
            <p class="topper__links--signup">signup</p>
        </div>
    </div>
    <form class="form layout-body">
        <input type="text" class="form__input">
        <button type="submit" class="form__button">Search</button>
    </form>
    <div class="nav layout-body">
        <div class="nav__item">About</div>
        <div class="nav__item">For Sale</div>
        <div class="nav__item">New Post</div>
        <div class="nav__item">Dashboard</div>
    </div>
</div>
<div class="form new-post-form">
    <div class="form_title">
        <h2>New Post</h2>
    </div>
    <form>
        <div class="row">
            <div class="col-25">
                <label>Title</label>
            </div>
            <div class="col-75">
                <input type="text" class="post_input" placeholder="Title for your Post...">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Description</label>
            </div>
            <div class="col-75">
                <textarea class="post_input" placeholder="Short Description about Post"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Category</label>
            </div>
            <!--Modify Later to pull categories list from DB-->
            <div class="col-75">
                <select class="post_input">
                    <option value="">Select Category</option>
                    <option value="">Electronics</option>
                    <option value="">Books</option>
                    <option value="">Furniture</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Price</label>
            </div>
            <div class="col-75">
                <input class="post_input" type="number" placeholder="$0.00">
            </div>
        </div>
        <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">
                <button id="submit_post" type="submit">Submit</button>
                <button id="cancel_post" type="submit">
                    Cancel
                </button>
            </div>
        </div>
        <div>

        </div>
    </form>
</div>

</html>