<html>
    <head>
        <title>Vertical Prototype</title>
        <link rel='stylesheet' href='stylesheets/style.css' >
    </head>
    <body>
        <div class="app">
            <div class="banner">
                <h1>CSC 648 Fall 2019 | Global Team #07</h1>
            </div>
            <h2>State Exchange</h2>
            <form class="search-query-form">
                <input type="text" placeholder="X-box, Macbook" class="search-query-input">
                <button type="submit">Search</button>
            </form>
            <div class="list"></div>
        </div>
    </body>
    <script src="javascripts/SearchResults.js"></script>
</html>